{% extends 'base.html.twig' %}

{% block title %}Juego 2048
{% endblock %}

{% block tablero %}

<div class="marco shadow-lg" id="marco">
	<table class="tablero table" id="tablero">
		{% for fila in tablero.getTablero() %}
			<tr>
				{% for val in fila %}
					<td>
                        {% if val!=0 %}
                        <div class="ficha num{{ val }}">
							{{ (val==0) ? ' ' : val }}
						</div>
                        {% else %}
                        <div class="vacia">
							
						</div>
                        {% endif %}
						
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
	
	</div>
	<div>
		{% if tablero.finPartida() %}
	
		{% if tablero.ganador() %}
			<h3 class="ganador">¡Has Ganado!</h3>
		{% else %}
			<h3 class="finpartida">¡No quedan movimientos!</h3>
		{% endif %}
	{% endif %}
	</div>
	<div class="cursores">
		<table class="tablacursores table table-bordered">
			<tr>
				<td rowspan="2" class="align-middle text-end">
					<a href="{{ url('app_izquierda') }}">◁</a>
				</td>
				<td class="text-center">
					<a href="{{ url('app_arriba') }}">△</a>
				</td>
				<td rowspan="2" class="align-middle text-start">
					<a href="{{ url('app_derecha') }}">▷</a>
				</td>
			</tr>
			<tr>				
				<td class="text-center">
					<a href="{{ url('app_abajo') }}">▽</a>
				</td>
			</tr>
			
			
		</table>
	</div>

	<script>
		document.getElementById("menu").onclick = function(event) {
    alert("eyeye");
};
	</script>

{% endblock %}
